<% breadcrumb :charset_decode, @charset %>

<%= form_for(:form, method: 'GET') do |f| %>
  <p>
    Data to decode using <%= @charset.human_name %>:<br/>
    <%= f.text_area(:data, rows: 16, cols: 80) %>
  </p>

  <p>
    Treat input as:
    <label><%= f.radio_button(:type, 'text') %>Raw Text</label>
    <label><%= f.radio_button(:type, 'hex') %>Binary as Hex</label>
  </p>

  <p>
    <%= f.submit('Submit') %>
  </p>
<% end %>

<% if @result %>
  <h2>Result</h2>
  <p><%= @result.text %></p>

  <h2>Detailed Result</h2>
  <table>
    <thead>
      <th>Bytes</th>
      <th>Meaning</th>
      <th>Method</th>
    </thead>
    <tbody>
      <% @result.each do |fragment| %>
        <tr>
          <td><%= fragment.bytes.map { |b| "%02X" % b }.join(' ') %></td>
          <% if fragment.is_a?(Fiddlybits::Charset::DecodedData) %>
            <td>
              <% fragment.string.codepoints.each_with_index do |cp, index| -%>
                <% if index > 0 %><br/><% end %>
                <% code_point = UnicodeUtils::Codepoint.new(cp) -%>
                <%= code_point.uplus %> <%= code_point.name %>
              <% end %>
              <% if fragment.direction == :ltr %>
                (left-to-right)
              <% elsif fragment.direction == :rtl %>
                (right-to-left)
              <% end %>
            </td>
            <td>
              <% if fragment.explanation.is_a?(Fiddlybits::TableCharset::TableLookup) %>
                <%= link_to 'table lookup', action: 'show_table',
                                            charset: fragment.explanation.charset.name,
                                            anchor: "cell-#{fragment.explanation.bytes.map{|b| "%02X" % b}.join}" %>
              <% else %>
                <%= fragment.explanation %>
              <% end %>
            </td>
          <% elsif fragment.is_a?(Fiddlybits::Charset::EscapeSequence) %>
            <td><%= fragment.code %></td>
            <td><%= fragment.explanation %></td>
          <% else %>
            <td colspan="2">cannot decode</td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
