<p><%= link_to "Back to #{@charset.human_name}", :action => 'show' %></p>

<h1><%= @charset.human_name %> Mapping Table</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th class="column-group-header" colspan="<%= @cols.size %>">Second <%= @axis %></th>
    </tr>
    <tr>
      <th></th>
      <th></th>
      <% @cols.each do |x| %>
        <th><%= @headers[x] %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @rows.each do |y| %>
      <tr>
        <% if y == @rows[0] %>
          <th class="row-group-header" rowspan="<%= @rows.size %>">First <%= @axis %></th>
        <% end %>
        <th><%= @headers[y] %></th>
        <% @cols.each do |x| %>
          <%= render partial: 'character_table_cell', locals: { charset: @charset, cell: @table[y][x] } %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">

  function scrollToCentre(element) {
    var offset = element.offset();
    window.scrollTo(
      offset.left + element.width() / 2 - $(window).innerWidth() / 2,
      offset.top + element.height() / 2 - $(window).innerHeight() / 2
    );
  }

  $(document).ready(function() {
    // $(":target") always returns nothing so this works around that.
    var target = $(document.location.hash);
    if (target.length > 0) {
      // The page itself will try to scroll the target to the top, so we delay it until after that.
      setTimeout(function() { scrollToCentre(target); }, 50);
    }
  });

  $("td.table-entry").click(function() {
    document.location.hash = $(this).attr("id");
    scrollToCentre($(this));
  });

</script>
