<!DOCTYPE html>
<html>
  <head>
    <title>Fiddlybits</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <% if content_for :page_scripts %>
      <%= content_for :page_scripts %>
    <% end %>
  </head>
  <body>
    <% title = nil -%>
    <div class="breadcrumbs">
      <% breadcrumbs(display_single_fragment: true).tap do |links| %>
        <% title = links.pop.text -%>
        <% links.each do |link| %>
          <%= link_to link.text, link.url, class: (link.current? ? "current" : nil) %> &raquo;
        <% end %>
      <% end %>
    </div>
    <h1><%= title %></h1>

    <% if flash[:error] -%>
      <div class="error">
        <p><%= flash[:error] %></p>
      </div>
    <% end -%>

    <%= yield %>
  </body>
</html>
