<!DOCTYPE html>
<html>
  <head>
    <title>Fiddlybits</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <p><%= link_to 'Back to Top', :controller => 'welcome' %></p>

    <% if flash[:error] -%>
      <div class="error">
        <p><%= flash[:error] %></p>
      </div>
    <% end -%>

    <%= yield %>
  </body>
</html>
