<!DOCTYPE html>
<html>
  <head>
    <title>Fiddlybits</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <% if content_for :page_scripts %>
      <%= content_for :page_scripts %>
    <% end %>
  </head>
  <body>
    <header>
      <div class="header-links">
      <!--Share Links-->
      <!--About-->
      <!--Bugs -->
      </div>
      <h1>Fiddlybits <span style="color: rgb(128,160,160)">wants a logo :'(</span></h1>
    </header>

    <div class="wrapper">
      <% title = nil -%>
      <% breadcrumbs.tap do |links| %>
        <% if links.any? %>
          <div class="breadcrumbs">
            <% title = links.pop.text -%>
            <% links.each do |link| %>
              <%= link_to link.text, link.url, class: (link.current? ? "current" : nil) %> &raquo;
            <% end %>
          </div>
        <% end %>
      <% end %>
      <h2><%= title %></h2>

      <% if flash[:error] -%>
        <div class="error">
          <p><%= flash[:error] %></p>
        </div>
      <% end -%>

      <%= yield %>
    </div>
  </body>
</html>
